.button {
  display: inline-block;
  border-radius: 10px;
  font-size: 20px;
  text-decoration : none;
  padding: 15px 50px;
  text-shadow: 3px 1px 1px rgba(0, 0, 0, 0.15);
  font-weight: bold;
  letter-spacing: 1.5px;
}

.slide-button {
  display: inline-block;
  padding: 15px 30px;
  font-weight: bold;
  margin: 15px;
  border-radius: 5px;
}

.button-green {
  background: #2E8B57;
  color: #f1f5f8;
}

.button-blue {
  background: #59a3fc;
  color: #fff;
}

.button-blue:hover {
  background: #2991fc;
  transition: all ease .3s;
}

.button-green:hover {
  background: #546536;
  transition: all ease .3s;
}

.slide-button:hover {
  background: #546536;
  transition: all ease .3s;
}
